* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 15px;
}

@media (min-width: 575.98px) {

    .container,
    .add-popup-content {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px) {

    .container,
    .add-popup-content {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {

    .container,
    .add-popup-content {
        max-width: 960px;
    }

    .text-field {
        display: flex;
    }
}

@media (min-width: 1199.98px) {

    .container,
    .add-popup-content {
        max-width: 1140px;
    }

    .text-field {
        display: flex;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 10px;
}

.employee-h {
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.employee-btn {
    background-color: rgb(142, 202, 255);
    border-radius: 12px;
    padding: 8px 24px;
    font-size: 16px;
}

.employee-btn:hover,
.btn-add:hover {
    background-color: rgb(68, 168, 255);
}

.employee-table {
    font-family: sans-serif;
    border-collapse: 2px collapse;
    width: 100%;
}

.employee-table td,
.employee-table th {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
}

.employee-table tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

.employee-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(109, 109, 109);
    color: rgb(255, 255, 255);
}

.d-none {
    display: none;
}

.add-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.add-popup .add-popup-content {
    margin: 40px auto 0px auto;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.row-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.btn-exit {
    background-color: rgb(238, 238, 238);
    font-size: 24px;
    border: none;
}

.text-field {
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}

.text-field__block {
    width: 33%;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-family: sans-serif;
    font-size: 1rem;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-add {
    width: 100%;
    background-color: rgb(142, 202, 255);
    border: none;
    padding: 8px 24px;
    margin-top: 20px;
    font-size: 16px;
}